In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [2]:
#TMDB Data
tmdb_file = "Resources/movies_metadata.csv"
tmdb_df = pd.read_csv(tmdb_file, sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
tmdb_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [3]:
#IMDB Data
imdb_file = "Resources/movies.csv"
imdb_df = pd.read_csv(imdb_file, encoding='latin-1')
imdb_df.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [4]:
#Wiki Data
wiki_file = "Resources/wiki_movie_plots_deduped.csv"
wiki_movie = pd.read_csv(wiki_file)
wiki_movie.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [5]:
#Netflix Data
Netflix_file = "Resources/netflix_titles.csv"
Netflix_movies = pd.read_csv(Netflix_file)
Netflix_movies.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

### Transform the DataFrame

In [6]:
# Create a filtered dataframe from specific columns for TMDB_Data table
tmdb_data_cols = ["original_title", "original_language", "runtime","release_date"]
tmdb_data_transformed= tmdb_df[tmdb_data_cols].copy()

# Rename the column headers
tmdb_data_transformed = tmdb_data_transformed.rename(columns={"original_title": "Movie_title",
                                                          "original_language": "Original_Language",
                                                          "runtime": "Runtime",
                                                          "release_date": "Release_date"})

# Clean the data by dropping duplicates, null and setting the index
tmdb_data_transformed.drop_duplicates("Movie_title", inplace=True)
tmdb_data_transformed.set_index("Movie_title", inplace=True)
tmdb_data_transformed['Release_date'] = pd.to_datetime(tmdb_data_transformed['Release_date'], errors='coerce')
tmdb_data_transformed.dropna(how='any')
#tmdb_data_transformed=tmdb_data_transformed[tmdb_data_transformed.Runtime != 'null']

tmdb_data_transformed.head()

                            Original_Language Runtime Release_date
Movie_title
Toy Story                                  en    81.0   1995-10-30
Jumanji                                    en   104.0   1995-12-15
Grumpier Old Men                           en   101.0   1995-12-22
Waiting to Exhale                          en   127.0   1995-12-22
Father of the Bride Part II                en   106.0   1995-02-10

In [7]:
# Create a filtered dataframe from specific columns for TMDB_Score table
tmdb_score_cols = ["original_title", "vote_average"]
tmdb_score_transformed= tmdb_df[tmdb_score_cols].copy()

# Rename the column headers
tmdb_score_transformed = tmdb_score_transformed.rename(columns={"original_title": "Movie_title",
                                                          "vote_average": "TMDB_Score"})

# Clean the data by dropping duplicates, null and setting the index
tmdb_score_transformed.drop_duplicates("Movie_title", inplace=True)
tmdb_score_transformed.set_index("Movie_title", inplace=True)
tmdb_score_transformed.dropna(how='any')
tmdb_score_transformed.head()

                            TMDB_Score
Movie_title
Toy Story                          7.7
Jumanji                            6.9
Grumpier Old Men                   6.5
Waiting to Exhale                  6.1
Father of the Bride Part II        5.7

In [8]:
# Create a filtered dataframe from specific columns for TMDB_Vote_Count table
tmdb_vote_cols = ["original_title", "vote_count"]
tmdb_vote_transformed= tmdb_df[tmdb_vote_cols].copy()

# Rename the column headers
tmdb_vote_transformed = tmdb_vote_transformed.rename(columns={"original_title": "Movie_title",
                                                          "vote_count": "Vote_Count"})

# Clean the data by dropping duplicates, null and setting the index
tmdb_vote_transformed.drop_duplicates("Movie_title", inplace=True)
tmdb_vote_transformed.set_index("Movie_title", inplace=True)
tmdb_vote_transformed.dropna(how='any')
tmdb_vote_transformed.head()

                            Vote_Count
Movie_title
Toy Story                         5415
Jumanji                           2413
Grumpier Old Men                    92
Waiting to Exhale                   34
Father of the Bride Part II        173

In [9]:
# Create a filtered dataframe from specific columns for IMDB_Data table
imdb_data = imdb_df[['name', 'budget', 'gross', 'country', 'company', 'director', 'star', 'rating']]

# Rename the column headers
imdb_data.rename(columns = {'name': 'Movie_title', 'budget': 'Budget', 'gross': 'Gross', 'country': 'Country', 'company': 'Company', 'director': 'Director', 'star': 'Star', 'rating': 'Rating'}, inplace=True)

# Clean the data by dropping duplicates, null and setting the index
imdb_data.drop_duplicates("Movie_title", inplace=True)
imdb_data.set_index('Movie_title', inplace=True)
imdb_data.dropna(how='any')

imdb_data.head()

/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Budget,Gross,Country,Company,Director,Star,Rating
Movie_title,,,,,,,
Stand by Me,8000000.0,52287414.0,USA,Columbia Pictures Corporation,Rob Reiner,Wil Wheaton,R
Ferris Bueller's Day Off,6000000.0,70136369.0,USA,Paramount Pictures,John Hughes,Matthew Broderick,PG-13
Top Gun,15000000.0,179800601.0,USA,Paramount Pictures,Tony Scott,Tom Cruise,PG
Aliens,18500000.0,85160248.0,USA,Twentieth Century Fox Film Corporation,James Cameron,Sigourney Weaver,R
Flight of the Navigator,9000000.0,18564613.0,USA,Walt Disney Pictures,Randal Kleiser,Joey Cramer,PG

In [10]:
# Create a filtered dataframe from specific columns for IMDB_Vote_Count table
imdb_vote_count = imdb_df[['name', 'votes']]

# Rename the column headers
imdb_vote_count.rename(columns = {'name': 'Movie_title', 'votes': 'Vote_Count'}, inplace=True)

# Clean the data by dropping duplicates, null and setting the index
imdb_vote_count.drop_duplicates("Movie_title", inplace=True)
imdb_vote_count.set_index('Movie_title', inplace=True)
imdb_vote_count.dropna(how='any')

imdb_vote_count.head()

/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                          Vote_Count
Movie_title
Stand by Me                   299174
Ferris Bueller's Day Off      264740
Top Gun                       236909
Aliens                        540152
Flight of the Navigator        36636

In [11]:
# Create a filtered dataframe from specific columns for IMDB_Score table
imdb_score = imdb_df[['name', 'score']]

# Rename the column headers
imdb_score.rename(columns = {'name': 'Movie_title', 'score': 'IMDB_Score'}, inplace=True)

# Clean the data by dropping duplicates, null and setting the index
imdb_score.drop_duplicates("Movie_title", inplace=True)
imdb_score.set_index('Movie_title', inplace=True)
imdb_score.dropna(how='any')

imdb_score.head()

/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/Users/krishna/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                          IMDB_Score
Movie_title
Stand by Me                      8.1
Ferris Bueller's Day Off         7.8
Top Gun                          6.9
Aliens                           8.4
Flight of the Navigator          6.9

In [12]:
# Create a filtered dataframe from specific columns for Netflix table
Netflix_movies_cols = ["title", "date_added", "listed_in"]
Netflix_movies_transform= Netflix_movies[Netflix_movies_cols].copy()

# Rename the column headers
Netflix_movies_transform = Netflix_movies_transform.rename(columns={"title": "Movie_title",
                                                                    "date_added":"Date_added",
                                                                   "listed_in": "Listed_in"})                                                            

# Clean the data by dropping duplicates and setting the index
Netflix_movies_transform.drop_duplicates("Movie_title", inplace=True)
Netflix_movies_transform.set_index("Movie_title", inplace=True)
Netflix_movies_transform.dropna(how='any')
Netflix_movies_transform.head()

,Date_added,Listed_in
Movie_title,,
Norm of the North: King Sized Adventure,"September 9, 2019","Children & Family Movies, Comedies"
Jandino: Whatever it Takes,"September 9, 2016",Stand-Up Comedy
Transformers Prime,"September 8, 2018",Kids' TV
Transformers: Robots in Disguise,"September 8, 2018",Kids' TV
#realityhigh,"September 8, 2017",Comedies

In [13]:
# Create a filtered dataframe from specific columns for Wiki_Plots table
wiki_movie_cols = ["Title", "Plot"]
wiki_movie_transform= wiki_movie[wiki_movie_cols].copy()

# Rename the column headers
wiki_movie_transform = wiki_movie_transform.rename(columns={"Title": "Movie_title"})                                                            

# Clean the data by dropping duplicates and setting the index
wiki_movie_transform.drop_duplicates("Movie_title", inplace=True)
wiki_movie_transform.set_index("Movie_title", inplace=True)
wiki_movie_transform.dropna(how='any')
wiki_movie_transform.head()

                                                                               Plot
Movie_title
Kansas Saloon Smashers            A bartender is working at a saloon, serving dr...
Love by the Light of the Moon     The moon, painted with a smiling face hangs ov...
The Martyred Presidents           The film, just over a minute long, is composed...
Terrible Teddy, the Grizzly King  Lasting just 61 seconds and consisting of two ...
Jack and the Beanstalk            The earliest known adaptation of the classic f...

### Create database connection

In [14]:
connection_string = "postgres:********@localhost:5432/Movie_DB"
engine = create_engine(f'postgresql://{connection_string}')

In [15]:
# Confirm tables
engine.table_names()

['TMDB_Vote_Count',
 'IMDB_Data',
 'TMDB_Data',
 'Netflix',
 'Wiki_Plots',
 'TMDB_Score',
 'IMDB_Vote_Count',
 'IMDB_Score']

### Load DataFrames into database

In [16]:
tmdb_data_transformed.to_sql(name='TMDB_Data', con=engine, if_exists='append', index=True)

In [17]:
tmdb_score_transformed.to_sql(name='TMDB_Score', con=engine, if_exists='append', index=True)

In [18]:
tmdb_vote_transformed.to_sql(name='TMDB_Vote_Count', con=engine, if_exists='append', index=True)

In [19]:
Netflix_movies_transform.to_sql(name='Netflix', con=engine, if_exists='append', index=True)

In [20]:
wiki_movie_transform.to_sql(name='Wiki_Plots', con=engine, if_exists='append', index=True)

In [21]:
imdb_data.to_sql(name='IMDB_Data', con=engine, if_exists='append', index=True)

In [22]:
imdb_vote_count.to_sql(name='IMDB_Vote_Count', con=engine, if_exists='append', index=True)

In [23]:
imdb_score.to_sql(name='IMDB_Score', con=engine, if_exists='append', index=True)