In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
wiki_file = "../Resources/wiki_movie_plots_deduped.csv"
wiki_movie = pd.read_csv(wiki_file)
wiki_movie.head(3)

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."

In [15]:
Netflix_file = "../Resources/netflix_titles.csv"
Netflix_movies = pd.read_csv(Netflix_file)
Netflix_movies.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."

In [16]:
# Create a filtered dataframe from specific columns
Netflix_movies_cols = ["title", "date_added", "listed_in"]
Netflix_movies_transform= Netflix_movies[Netflix_movies_cols].copy()

# Rename the column headers
Netflix_movies_transform = Netflix_movies_transform.rename(columns={"title": "Movie_title",
                                                                   "listed_in": "Genre"})                                                            

# Clean the data by dropping duplicates and setting the index
Netflix_movies_transform.drop_duplicates("Movie_title", inplace=True)
Netflix_movies_transform.set_index("Movie_title", inplace=True)
Netflix_movies_transform.dropna(how='any')
Netflix_movies_transform.head()

,date_added,Genre
Movie_title,,
Norm of the North: King Sized Adventure,"September 9, 2019","Children & Family Movies, Comedies"
Jandino: Whatever it Takes,"September 9, 2016",Stand-Up Comedy
Transformers Prime,"September 8, 2018",Kids' TV
Transformers: Robots in Disguise,"September 8, 2018",Kids' TV
#realityhigh,"September 8, 2017",Comedies

In [17]:
# Create a filtered dataframe from specific columns
wiki_movie_cols = ["Title", "Plot"]
wiki_movie_transform= wiki_movie[wiki_movie_cols].copy()

# Rename the column headers
wiki_movie_transform = wiki_movie_transform.rename(columns={"Title": "Movie_title"})                                                            

# Clean the data by dropping duplicates and setting the index
wiki_movie_transform.drop_duplicates("Movie_title", inplace=True)
wiki_movie_transform.set_index("Movie_title", inplace=True)
wiki_movie_transform.dropna(how='any')
wiki_movie_transform.head()

                                                                               Plot
Movie_title
Kansas Saloon Smashers            A bartender is working at a saloon, serving dr...
Love by the Light of the Moon     The moon, painted with a smiling face hangs ov...
The Martyred Presidents           The film, just over a minute long, is composed...
Terrible Teddy, the Grizzly King  Lasting just 61 seconds and consisting of two ...
Jack and the Beanstalk            The earliest known adaptation of the classic f...

In [12]:

connection_string = "postgres:Krishna39@localhost:5432/Movies"
engine = create_engine(f'postgresql://{connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

In [18]:
# Confirm tables
engine.table_names()

NameError: name 'engine' is not defined

In [19]:
tmdb_data_transformed.to_sql(name='TMDB_Data', con=engine, if_exists='append', index=True)

NameError: name 'tmdb_data_transformed' is not defined

In [ ]:
tmdb_score_transformed.to_sql(name='TMDB_Score', con=engine, if_exists='append', index=True)

In [ ]:

tmdb_vote_transformed.to_sql(name='TMDB_Vote_Count', con=engine, if_exists='append', index=True)

In [ ]:
imdb_data.to_sql(name='IMDB_Data', con=engine, if_exists='append', index=True)

In [ ]:
imdb_vote_count.to_sql(name='IMDB_Vote_Count', con=engine, if_exists='append', index=True)

In [ ]:
imdb_score.to_sql(name='IMDB_Score', con=engine, if_exists='append', index=True)

In [ ]:
Netflix_movies_transform.to_sql(name='Netflix', con=engine, if_exists='append', index=True)

In [ ]:
wiki_movie_transform.to_sql(name='Wiki_Plots', con=engine, if_exists='append', index=True)